In [24]:
import pandas as pd

In [7]:
# Ans 1.

df= pd.Series([4, 8, 15, 16, 23, 42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
#Ans 2.
k = [i for i in range (9,20)]
k1 = pd.Series(k)
print(k1)
print(type(k1))

0      9
1     10
2     11
3     12
4     13
5     14
6     15
7     16
8     17
9     18
10    19
dtype: int64
<class 'pandas.core.series.Series'>

In [23]:
#Ans 3.

data = {"Name" : ["Alice","Bob","Claire"],"Age" : [ 25,30,27],"Gender": ["female","male","female"]}
pd.DataFrame(data , columns = ["Name", "Age" , "Gender"])

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

### Ans4.
In pandas, a DataFrame is a two-dimensional labeled data structure consisting of columns of different types. It can be seen as a table or spreadsheet-like data structure where data is organized in rows and columns. Each column in a DataFrame is represented as a pandas Series.

A Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame. A Series has a single column of data and an associated index that labels each element of the data.

```
import pandas as pd

# pandas Series
df= pd.Series([4, 8, 15, 16, 23, 42])

# pandas DataFrame
data = {"Name" : ["Alice","Bob","Claire"],"Age" : [ 25,30,27],"Gender": ["female","male","female"]}
df1= pd.DataFrame(data , columns = ["Name", "Age" , "Gender"])



```


### Ans 5.
Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some commonly used functions:

```
df.head(5)
df.tail(10)
df.info()
df.describe()
df.sort_values("column_name" , ascending =True)
df.groupby("column_name").mean()
df.dropna()
df.fillna(0)
df1.merge(df2, on = "column_name")
df['column_name'].apply(function_name)[link text](https://)


```

### Ans 6.


All pandas data structures be it Series, DataFrame or panels are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a **Series** cannot be changed, but, for example, columns can be inserted into a DataFrame.

In pandas, a DataFrame is mutable, which means it can be modified after its creation. You can add or remove columns, update values, or perform various manipulations on the DataFrame's structure or data. Changes made to a DataFrame will be reflected in the original object.

In [27]:
#ANS 7.


# Creating Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Creating DataFrame using Series
data = {
    "Name": names,
    "Age": ages,
    "Gender": genders
}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female