In [27]:
#  ANS(1):

players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# sort the list of tuples based on the second element (integer value)
sorted_players = sorted(players, key=lambda x: x[1])

# print the sorted list of tuples
print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
# ANS(2):

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

(list(map(lambda x : x**2 , l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# ANS(3):

l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x : str(x), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:
# ANS(4):

from functools import reduce

l= [i for i in range(1,26)]

# l = list(range(1,26))

reduce(lambda x,y : x*y , l)

15511210043330985984000000

In [22]:
# ANS(5):

l= [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x :  x %2==0 and x % 3==0 , l))

[6, 60, 90, 120]

In [23]:
# ANS(6):
l= ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda  x :  x == x[::-1], l))

['php', 'aba', 'radar', 'level']