In [46]:
#  ANS(1):

list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

from functools import reduce

def product_of_numbers(l):

  n=[]

  for i in l:

    if type(i)==list:
      for j in i:
        if type(j) == int:
          n.append(j)

    elif type(i) == tuple:
      for j in i:
        if type(j) ==int:
          n.append(j)

    elif type(i)== dict:
      for j,k in i.items():
        if type(j)==int:
          n.append(j)
        if type(k)==int:
          n.append(k)

    elif type(i) ==int:
      n.append(i)



  return reduce(lambda x,y : x*y , n)
              
product_of_numbers(list1)

13119822185539829760

In [47]:
#ANS(2):

str1 = "I want to become a Data Scientist."
def modification(str2):
  str2 = str2.lower()
  str2=str2.replace('a',"z").replace('b','y').replace('c','x').replace(" ","$")

  return str2

modification(str1)

'i$wznt$to$yexome$z$dztz$sxientist.'